/pipeline_without/venv
/pipeline_localminio/venv
/benchmarks/.venv
pipeline_without/blob.npy
pipeline_without/meta.json
pipeline_without/raw_outputs.npy
pipeline_without/raw.npy
__pycache__/
results.json
benchmarks/yolov5s.onnx
